
.movieCard{
    list-style: none;
}

.movieCard:hover{
    opacity: 0.7;
}

.movieCard img{
    width: 250px;
    cursor: pointer;
}
.moviesGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    
}

.titleMovie{
    font-size: 18px;
    font-weight: bold;
}
